$primary-color: #111418;
$accent-color: #b8cee4;
$border-color: #eaedf0;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid $border-color;
    background-color: #fff;
    position: sticky;
    font-family: 'Work Sans', 'Noto Sans', sans-serif;
    top: 0;
    z-index: 1000;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $primary-color;
}

.logoIcon {
    width: 16px;
    height: 16px;
}

.navContainer {
    display: flex;
    align-items: center;
    gap: 32px;
    transition: transform 0.3s esse-in-out;
}

.nav {
    display: flex;
    gap: 36px;

    a {
        text-decoration: none;
        color: $primary-color;
        font-size: 0.875rem;
        font-weight: 500;
        padding: 8px 0;
        position: relative;

        &::after {

            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: #1A78E5;
            transition: width 0.3s ease-in-out;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: $primary-color;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1001;
}

.showMenu {
    transform: translateX(0) !important;
    opacity: 1 !important;
    visibility: visible !important;
}

@media (max-width: 767px) {
    .header {
        padding: 12px 20px;
    }

    .logoContainer {
        gap: 8px;
    }

    .navContainer {
        gap: 8px;


    }
}

@media (max-width: 1023px) {
    .header {
        padding: 12px 20px; // Mantém padding padrão para header
        flex-wrap: wrap; // Permite que os itens quebrem linha se necessário
    }


    .navContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #f8fafc;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
        z-index: 999;
    }

    .nav {
        flex-direction: column;

        a {
            font-size: 1.2rem;
            color: $primary-color;
        }
    }

    .quoteButton {
        width: 80%;
        max-width: 300px;
        padding: 12px 20px;
        font-size: 1rem;
    }

    .hamburger {
        display: block;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 10px 15px;
    }

    .hamburger {
        font-size: 1.8rem;
    }

    .logoText {
        width: 160px;
    }

    .navContainer {
        gap: 25px;
    }

    .nav {
        gap: 15px;

        a {
            font-size: 1.1rem;
        }
    }
}