html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', 'Noto Sans', sans-serif;
    background-color: #f9f9f9;
    scroll-behavior: smooth;
}

@media (prefers-colors-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: #f9f9f9;
        background: black;
    }

}

.quoteButton {
    padding: 0 16px;
    height: 40px;
    background-color: #1A78E5;
    color: white;
    font-weight: bold;
    font-size: 0.875rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: #1a365d;
    margin-bottom: 16px;
}

.subtitle {
    font-size: 1.25rem;
    color: #64748b;
    max-width: 600px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

@media (max-width: 575px) {
    .title {
        font-size: 2.5rem;
        font-weight: bold;
        color: #1a365d;
        margin-bottom: 16px;
    }

    .subtitle {
        font-size: 1rem;
        color: #64748b;
        max-width: 600px;
        margin: 0 auto;
    }
}